<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserMapper">
    <select id="userList" resultType="com.demo.entities.User">
        select * from user
    </select>

    <!--    <select id="insertUser" resultType="com.demo.entities.User">-->
    <!--    insert into user (name,password,sex) values (#{user.name})-->
    <!--    </select>-->
    <select id="selectUserByIdAndPassword" resultType="com.demo.entities.User">
        select * from user where id=#{id} and password=#{password}
    </select>
</mapper>

