<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.User_in_study_roomMapper">
    <select id="queryRelationByUserId" resultType="com.demo.entities.User_in_study_room">
        select * from user_in_study_room where user_id=#{id}
    </select>

    <select id="queryRelationByRoomId" resultType="com.demo.entities.User_in_study_room">
        select * from user_in_study_room where study_room_id=#{id}
    </select>
</mapper>